.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem 0 8rem;

  // font-size: 1.4rem;
  font-size: 14px;
  font-weight: 500;
  &__burger {
    display: none;
  }
  // background-c olor: red;
  @include respond(tab-land) {
    // width < 900px
    padding: 2rem 6rem 0 6rem;
  }
  @include respond(tab-port) {
    // width < 600px
    padding: 2rem 4rem 0 4rem;
    &__burger {
      display: block;
      cursor: pointer;
      font-size: 16px;
      color: $black-color;
      font-weight: bold;
    }
    &__list {
      display: none !important;
    }
    &__button {
      display: none !important;
    }
  }
  @include respond(phone) {
    // width < 350px
    padding: 2rem 2rem 0 2rem;
  }


  &__list {
    text-transform: capitalize;
    display: flex;
    list-style: none;
    gap: 3rem;
    // background-color: green;

    color: $black-color;
  }
  &__item {
    // background-color: green;
    padding: 10px;
    &.active {
      a {
        @include navhover;
      }
    }
    a {
      position: relative;
      text-decoration: none;
      color: $black-color;
      &:hover {
        @include navhover;
      }
      span:first-child:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        background: transparent;
        border-left: 2px solid $black-color;
        border-top: 2px solid $black-color;
        transition: 0.2s;
        opacity: 0;
      }
      span:first-child:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        background: transparent;
        border-top: 2px solid $black-color;
        border-right: 2px solid $black-color;
        transition: 0.2s;
        opacity: 0;
      }
      span:last-child:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 8px;
        background: transparent;
        border-bottom: 2px solid $black-color;
        border-left: 2px solid $black-color;
        transition: 0.2s;
        opacity: 0;
      }
      span:last-child:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        background: transparent;
        border-bottom: 2px solid $black-color;
        border-right: 2px solid $black-color;
        transition: 0.2s;
        opacity: 0;
      }
    }
  }
  &__button {
    display: flex;
    gap: 1.5rem;
    &--icon {
      // cursor: pointer;
      // font-size: 1.6rem;
      color: $black-color;
      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &--text {
      // background-color: red;
      margin-left: 1rem;
    }
  }
  &__menu {
    // display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(250, 247, 238, 1);
    transform: translateX(-100%);
    transition: 0.3s;
    &.active {
      display: block;
      opacity: 1;
      transform: translateX(0);
    }
    // background-color:  rgba(250,247,238,.5);

    z-index: 1000;
    font-weight: 500;
    &--item {
      // padding: 0;
      a {
        position: relative;
        text-decoration: none;
        color: $black-color;
        background-color: transparent;
      }
    }
    &--footer {
      // display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(250, 247, 238, 1);
      padding: 10px;
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        padding: 15px;
      }
    }
    &--title {
      font-size: 14px;
      font-family: "Inter";
      background-color: $orange-color;
      color: $black-color;
      font-weight: 500;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
    }

    &--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      // gap: 15px;
      // font-size: 1.4rem;
      font-size: 14px;
      font-family: "Araboto-bold";
      color: $black-color;
      font-weight: 500;

      // font-weight: 600;
    }
    &--item {
      padding: 10px 10px 10px 20px;
      // margin: 0 50px 0 0;
      cursor: pointer;

      &:hover {
        background-color: rgba(248, 152, 7, 0.4);
      }
    }
  }
}
.brief {
  padding: 0 8rem 0 8rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  &__wrapper {
    flex-basis: 45%;
    font-size: 14px;

    color: $black-color;
    &:nth-child(2) {
      background-color: transparent;
      padding: 1rem;
      z-index: 500;
      text-align: right;
      position: relative;
      width: 100%;

      height: 70vh;
      border: 3px solid rgb(177, 173, 172);
      img {
        // width: 100%;
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        transform: translate(25px, 25px);
        // background-color: pink;
        // z-index: 800
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        // padding: 2rem;

        overflow: hidden;
      }
    }
    &:nth-child(3) {
      display: block;
      position: absolute;
      right: 0;
      top: 20%;
      width: 40%;
      height: 80%;
      transform: translate(0, -10%);

      background-color: rgb(248, 152, 7);
      opacity: 0.5;
      z-index: 150;
    }
  }
  &__title {
    font-size: 4.5rem;
    line-height: 1;
    color: black;
    font-family: "Inter";
    margin-top: 2rem;
  }
  &__text {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;
    color: $black-color;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }
  &__description {
    margin-top: 2rem;
    line-height: 1.5;
    color: $black-color;
    font-family: "Inter";
    margin-bottom: 2rem;
    font-size: 14px;
  }
  &__croch {
    &--left {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: transparent;
      &::before {
        position: absolute;
        content: "";
        top: -10px;
        left: -10px;
        width: 8rem;
        height: 8rem;
        border-left: 10px solid $black-color;
        border-top: 10px solid $black-color;
        // background-color: rgb(0, 0, 0);
      }
      &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        right: -10px;
        width: 8rem;
        height: 8rem;
        border-right: 10px solid $black-color;
        border-bottom: 10px solid $black-color;
      }
    }
    &--right {
      position: absolute;
      background-color: transparent;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &::before {
        position: absolute;
        content: "";
        top: -10px;
        right: -10px;
        width: 8rem;
        height: 8rem;
        border-right: 10px solid $black-color;
        border-top: 10px solid $black-color;
        // background-color: rgb(0, 0, 0);
      }
      &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: -10px;
        width: 8rem;
        height: 8rem;
        border-left: 10px solid $black-color;
        border-bottom: 10px solid;
      }
    }
  }
  &_details {
    margin-top: 2rem;
    background-color: pink;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include respond(tab-land) {
    padding: 0 16px 0 16px;

    &__wrapper {
      flex-direction: column;
    }

    &__wrapper {
      &:nth-child(1) {
        width: 100%;
        flex: 1;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); 
  z-index: 999; 
  display: none; 
  &.active {
    display: block;
  }
}
.features {
  // padding: 2rem 8rem 0 8rem;
  padding: 0rem 8rem 0 8rem;
  @include respond(tab-port) {
    padding: 0rem 2rem 0 2rem;
  }
  margin-top: 8rem;
  &__about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 5rem;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
  &__goals {
    position: relative;
    &--title {
      position: relative;
      background-color: red;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 600;
      
      }
      margin-bottom: 5rem;
    }


    &--card {
      display: flex;
      justify-content: space-between;
      gap: 4rem;


    }
  }
}
