.button{
    background-color: $black-color;
    border: none;
    color: $white-color;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: $white-color;
        color: $black-color;
    }
}