.accordeon {
  background-color: rgb(235, 233, 221);
  padding: 2rem;
  * {
    background-color: rgb(235, 233, 221);
  }

  &:not(:last-child) {
    // border-bottom: 1px solid gray;
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 12px;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    span {
      font-size: 1.5rem;
    }
  }
  &__text {
    max-height: 0;
    overflow: hidden;
    transition: all 1s cubic-bezier(0, 1, 0, 1); /* Transition sur la propriété max-height */
  
    &.open {
      max-height: 9999px; /* Définir la hauteur maximale sur 100% lorsque la classe .open est présente */
      transition: all 1s cubic-bezier(1, 0, 1, 0); /* Définir une transition pour le changement de max-height */
    }
  }
  // margin: 20px;
  // padding: 10px;
}
