@font-face {
  font-family: Araboto-medium;
  src: url("../fonts/Araboto Normal 400.ttf");
}
@font-face {
  font-family: Araboto-bold;
  src: url("../fonts/Araboto Bold 400.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  background-color: rgba(250,247,238,.5);
}

